@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
 .App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
color: white;
background: #c23866;
}
.card-grid  {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
